---
layout: archive
---

{% include figure image_path="/assets/images/TheOrderOfTime.png" caption="This is index.html page." %}

<figure>
  <img src="/assets/images/TheOrderOfTime.png" alt="this is a placeholder image">
  <figcaption>This is a figure caption.</figcaption>
</figure>
			 {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
